body {
    background-color: #46509E;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

img {
    width: 23%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    display: block;
    color: #FFF;
    padding-bottom: 10%;
}

p a {
    color: #FFF;
}

p a:hover {
    color: #B5B9D8;
}